@page "/final"






<br><br><br><br><br><br>
<style>
    body {
        background-image: url('Ani.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;}
</style>
<h2 style="text-align:center"> Thanks for Shopping </h2>